.main {
  padding: 40px;
}
.main > h1 {
  font-size: 40px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  margin-bottom: 20px;
  transition: all 0.3s ease;
}
.education__image{
    display: flex;
    justify-content: center;
    align-items: center;
}
.education__name{
    color:#fff;
    font-weight: bold;
    font-size: 30px;
}
.education__location{
    color:#ccc;
    font-size: 20px;
}