* {
  color: #fff;
}
.main {
  margin-top: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  text-align: center;
}
a {
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}
a:hover {
  cursor: pointer;
  color: yellow;
}

.social {
  list-style-type: none;
  display: flex;
}
li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.image {
  height: 50px;
  width: 50px;
  margin-right: 5px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
