<div class="main">
  <h1>Social Networks</h1>
  <ul class="social">
    <li>
      <img class="image" src="../../assets/images/github.svg" alt="" />
      <a href="{{ profile.github }}" target="_blank">Github</a>
    </li>
    <li>
      <img class="image" src="../../assets/images/linkedin.svg" alt="" />
      <a href="{{ profile.linkedIn }}" target="_blank">LinkedIn</a>
    </li>
    <li>
      <img class="image" src="../../assets/images/twitter.svg" alt="" />
      <a href="{{ profile.twitter }}" target="_blank">Twitter</a>
    </li>
  </ul>
</div>
