.container {
  width: 100%;
  height: 100%;
  display: flex;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
}
.material-icons {
  color: gray;
  font-size: 35px;
  padding-right: 5px;
}
.contact__info {
  margin-left: 30px;
  padding: 40px;
  background-color: #fafafa;
}
.profile__image__container {
  display: flex;
  width: 350px;
  height: 350px;
}
.profile__image__container > img {
  border-radius: 50%;
}
.container__with__label {
  display: flex;
}
.label {
  font-family: "Segoe UI", sans-serif;
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: 300;
  transition: all 0.4s ease;
}
.label:hover {
  color: darkgray;
  cursor: pointer;
  transition: color 0.4s ease;
}

.container__with__additional__info {
  width: 100%;
  height: 100%;
  margin-top: 120px;
  border-radius: 40px;
  display: flex;
  background-image: linear-gradient(45deg, #396afc, #2948ff);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}
