.progress__container{
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: center;
    align-items: center;
}
.progress-bar{
    width: 100%;
    height: 20px;
    border-radius: 15px;
    border:2px solid;
}
.percent{
    margin-left: 5px;
}
.progress{
    height: 100%;
    border-radius: 15px;
    background-color: yellow;
}