.main {
  padding: 40px;
  border-right: 5px solid #fff;
}
.main > h1 {
  font-size: 40px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  margin-bottom: 20px;
  transition: all 0.3s ease;
}
ul {
  margin-left: 30px;
  list-style-type: none;
}
.skill__item {
  display: flex;
  flex-direction: column;
  padding: 10px;
  color: #fff;
  font-size: 17px;
  font-weight: bold;
  transition: all 0.3s ease;
}
.skill__item:hover {
  transform: scale(1.3);
  transition: all 0.3s ease;
  cursor: pointer;
}
